<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" data-link>Gerenciamento de Pedidos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a id="navOrders" class="nav-link" href="../../pedidos/" data-link>Pedidos</a></li>
                <li class="nav-item"><a id="navCustomers" class="nav-link" href="../../clientes/" data-link>Clientes</a></li>
                <li class="nav-item"><a id="navProducts" class="nav-link" href="../../produtos/" data-link>Produtos</a></li>
                <li class="nav-item"><a id="navNewOrder" class="nav-link" href="../../pedidos/cadastrar/" data-link>+ Novo Pedido</a></li>
            </ul>
        </div>
    </div>
</nav>
